@model IEnumerable<Product>
@{
    ViewData["Title"] = "Listing Product";
}

<div class="row">
    @foreach (var item in Model)
    {
           <div class="col-md-3">
               <div class="card">
                   <img src="@item.ImageURL" alt="@item.Name" style="width:90%;height:300px;">
                   <h1>@item.Name</h1>
                   <p>@item.Price.ToString("c")</p>
                   <p>@item.Description</p>
                   <p style="color:@item.ProductColor">@item.ProductColor</p>
                   <p>@item.Category.Name</p>
                   <button>Add To Cart</button>
               </div>
           </div>
    }
</div>
<style>
    .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

    .card button:hover {
        opacity: 0.7;
    }
</style>